<p-dialog
  #newItemDialog
  [(visible)]="display"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: '450px', minWidth: '400px' }"
  [minY]="70"
  [baseZIndex]="10000"
>
  <p-header> {{ dialogTitle }} </p-header>

  <div style="min-width: 350px;display:flex;flex-direction: column;">
    
    <kendo-textbox-container
      floatingLabel="{{floatingLabel}}"
      style="width: 100%;"
    >
      <input kendoTextBox [(ngModel)]="name" required />
    </kendo-textbox-container>

    <p-dropdown *ngIf="isServiceEditing()"  class="wa-services-section-newitem-dialog-channel-selector" placeholder="Select a Channel" [style]="{'width':'100%;background: #5d5f5f;padding-top:10px;'}" [options]="channels" [(ngModel)]="selectedChannel" optionLabel="name" appendTo="body" baseZIndex="999999"></p-dropdown>

  </div>

  <p-footer>
    <kendo-buttongroup look="flat">
      <button kendoButton [toggleable]="false" (click)="onCancel();">Cancel</button>
      <button kendoButton [toggleable]="false" [primary]="true" (click)="onConfirm();">Create</button>
    </kendo-buttongroup>
  </p-footer>

</p-dialog>
