<div>

    <wc-confirmation-dialog (cancel)="onConfirmationCancel($event)" (confirm)="onConfirmationOK($event)"></wc-confirmation-dialog>


    <div class="row spread">
        <div class="flex-toolbar" style="display:flex;align-items: center;">
            <div style="margin-right:10px;width:60%;max-width: 400px;">
                <label>Domain</label>
                <wc-domain-selector-combobox #domainSelector (domainSelected)="onDomainSelected($event)"
                    (selectionCancelled)="onDomainSelected(null)"></wc-domain-selector-combobox>
            </div>

            <div>
                <label>&nbsp;</label>
                <kendo-buttongroup look="flat">
                    <button kendoButton [toggleable]="false" [icon]="'save'" (click)="onSaveClicked()" [disabled]="!editService.hasChanges()">Save</button>
                    <button kendoButton [toggleable]="false" [icon]="'track-changes-reject'" (click)="onDiscardClicked()"
                        [disabled]="!editService.hasChanges()">Discard Changes</button>
                    <button kendoButton [toggleable]="false" (click)="onAddAssetsBundleClicked()" [disabled]="!canAddBundle">
                        <fa-icon [icon]="faMobileAlt"></fa-icon>Add Assets Bundle
                    </button>
                </kendo-buttongroup>
            </div>
        </div>

        <div class="flex-cmd">
            <kendo-buttongroup look="flat">
                <button kendoButton [toggleable]="false" [icon]="'refresh'" (click)="onRefreshClicked()" [disabled]="!canRefresh">Refresh</button>
            </kendo-buttongroup>
        </div>

    </div>


    <div class="row fill">

        <div>
            <!-- Sliding Editor Panel -->
            <div style="display:flex;margin-bottom: 10px;" class="editor slidedown closed" #exportSlideDown>
                <div class="wc-slide-down-editor-pane">
                    <!--
                    <div class="wc-slide-down-editor-item">
                        <kendo-textbox-container floatingLabel="Application Name">
                            <input kendoTextBox [(ngModel)]="newMobileApp.name" />
                        </kendo-textbox-container>
                    </div>
                    <div class="wc-slide-down-editor-item">
                        <kendo-textbox-container floatingLabel="Application Version">
                            <input kendoTextBox [(ngModel)]="newMobileApp.latestVersion" />
                        </kendo-textbox-container>
                    </div>
                    <div class="wc-slide-down-editor-item">
                        <kendo-textbox-container floatingLabel="App Store URL">
                            <input kendoTextBox [(ngModel)]="newMobileApp.downloadUrl" />
                        </kendo-textbox-container>
                    </div>
                    <div class="wc-slide-down-editor-item">
                        <kendo-textbox-container floatingLabel="Forbidden Versions">
                            <input kendoTextBox [(ngModel)]="newMobileApp.forbiddenVersion" />
                        </kendo-textbox-container>
                    </div>
                    -->
                </div>

                <div class="cmd" style="padding-top: 11px;align-items: center;">
                    <label style="padding-bottom: 0px;padding-left: 10px;padding-right: 10px;">Do Create?</label>
                    <a (click)="onAssetBundleAddConfirm()">
                        <svg class="ok" data-id="ok">
                            <use xlink:href="assets/img/icons.svg#ico-ok"></use>
                        </svg>
                    </a>
                    <a (click)="onAssetBundleAddCancel()" data-slideup="#user-add">
                        <svg class="ko" data-id="ko">
                            <use xlink:href="assets/img/icons.svg#ico-ko"></use>
                        </svg>
                    </a>
                </div>

            </div>

            <!-- Grid -->
            <kendo-grid #datagrid [data]="view | async" [columnMenu]="true" [loading]="loading" [scrollable]="true"
                (cellClick)="cellClickHandler($event)" (cellClose)="cellCloseHandler($event)" (dataStateChange)="onStateChange($event)"
                (cellClose)="cellCloseHandler($event)" [resizable]="true" [reorderable]="true">
                >


                <kendo-grid-column field="name" title="Name">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <label class="k-icon grid-cell-dirty grid-cell-dirty-{{dataItem.dirty}}"></label>
                        {{dataItem.name}}
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="version" title="Version" width="160">
                </kendo-grid-column>

                <kendo-grid-column field="published" title="Published" width="160">
                        <ng-template kendoGridCellTemplate let-dataItem>
                                <label class="k-icon grid-cell-checkbox grid-cell-checkbox-{{dataItem.published}}"></label>
                            </ng-template>
                </kendo-grid-column>
                    
                <kendo-grid-column field="created" title="Created" width="160" format="{0:dd/MM/yyyy HH:mm:ss}">
                </kendo-grid-column>

                <kendo-grid-command-column title="" width="100" [class]="wc-grid-command-column">
                        <ng-template kendoGridCellTemplate>
                            <div style="display:flex;justify-content: center" offset="-10">
                                <button style="width: 32px;height: 32px;padding-left:16px;padding-right:16px;" kendoButton [look]="'flat'" alt="Publish" title="Publish/Unpublish" class="k-button"><fa-icon [icon]="faCloudUploadAlt" style="font-size: 0.9rem;"></fa-icon></button>
                                <button style="width: 32px;height: 32px;padding-left:16px;padding-right:16px;" kendoButton [look]="'flat'" alt="Download" title="Download" class="k-button"><fa-icon [icon]="faDownload" style="font-size: 0.9rem;"></fa-icon></button>
                            </div>
                        </ng-template>
                </kendo-grid-command-column>

                <kendo-grid-column title="" width="150" minResizableWidth="100">
                    <ng-template kendoGridCellTemplate let-dataItem let-columnIndex="columnIndex" let-rowIndex="rowIndex"
                        let-column="column">
                        <wc-grid-editor [question]="'Delete ?'" [rowIndex]="rowIndex" [columnIndex]="columnIndex"
                            [column]="column" [value]="dataItem[column.field]" [dataItem]="dataItem" [buttonClass]="''"
                            [mainClass]="'wc-table-delete-command'" (onConfirmation)="onDeleteOKPressed(dataItem)"
                            (onCancel)="onDeleteCancelPressed(dataItem)">
                            <svg data-id="no">
                                <use xlink:href="assets/img/icons.svg#ico-no"></use>
                            </svg>
                        </wc-grid-editor>
                    </ng-template>
                </kendo-grid-column>

            </kendo-grid>
        </div>


    </div>

</div>