<wc-dashboard-header [title]="'Application Content'"></wc-dashboard-header>
			
<input type="radio" name="tabs" id="tab-1-cmd" checked="">
<input type="radio" name="tabs" id="tab-2-cmd">

<div class="tabs">
    <label for="tab-1-cmd">
        <svg data-id="configuration"><use xlink:href="assets/img/icons.svg#ico-configuration"></use></svg> 
        <span>Applications</span>
    </label>
    <label for="tab-2-cmd">
        <svg data-id="platform"><use xlink:href="assets/img/icons.svg#ico-platform"></use></svg> 
        <span>Assets</span>
    </label>
</div>

<div class="tab" id="tab-1">
    <div class="header">
        <h1>Assets</h1>
    </div>
    
    <div class="row spread">
        TODO!!
    </div>

    <div class="row">
    </div>
</div>


<div class="tab" id="tab-2">
    <div class="header">
        <h1>Engines</h1>
    </div>
    
    <div class="row spread">

    </div>

    <div class="row">
    </div>

</div>