<wc-dashboard-header [title]="'License Manager'"></wc-dashboard-header>

<!--
<input type="file" id="xmlFileImport" name="xmlFileImport"  accept="application/xml" (input)="onUploadFileSelected($event)" #xmlFileImport>
-->

<div class="row spread">

    <div class="flex-toolbar" style="display:flex;align-items: center;">
        <div>
            <label>&nbsp;</label>
            <kendo-buttongroup look="flat">
                <button kendoButton [toggleable]="false" [icon]="'arrow-down'" (click)="onSaveClicked()" >Import License</button>
            </kendo-buttongroup>
        </div>
    </div>

    <div class="flex-cmd">
        <kendo-buttongroup look="flat">
            <button kendoButton [toggleable]="false" [icon]="'refresh'" (click)="onRefreshClicked()">Refresh</button>
        </kendo-buttongroup>
    </div>

</div>

<div class="row">
        <kendo-grid #datagrid [data]="_licenses" 
                [loading]="loading"  
                (cellClick)="cellClickHandler($event)"
                (cellClose)="cellCloseHandler($event)"
                (dataStateChange)="onStateChange($event)"
                (cellClose)="cellCloseHandler($event)"
                [navigable]="false"> 

                <kendo-grid-column
                    field="productName" title="Product Name" >
                </kendo-grid-column>

                <kendo-grid-column
                    field="productVersion" title="Product Version" width="360">
                </kendo-grid-column>

                <kendo-grid-column
                    field="issueDate" title="Issue Date" width="360" format="{0:dd/MM/yyyy HH:mm:ss}">
                </kendo-grid-column>

                <kendo-grid-column
                    field="expiryDate" title="Expiry Date" width="360" format="{0:dd/MM/yyyy HH:mm:ss}">
                </kendo-grid-column>

                <kendo-grid-column title="" width="150" minResizableWidth="140">
                        <ng-template kendoGridCellTemplate let-dataItem let-columnIndex="columnIndex" let-rowIndex="rowIndex" let-column="column">
                                <wc-grid-editor 
                                [question]="'Revoke ?'" 
                                [rowIndex]="rowIndex" 
                                [columnIndex]="columnIndex" 
                                [column]="column" 
                                [value]="dataItem[column.field]" 
                                [dataItem]="dataItem"
                                [buttonClass]="''" 
                                [mainClass]="'wc-table-delete-command'"
                                (onConfirmation)="onDeleteOKPressed(dataItem)" (onCancel)="onDeleteCancelPressed(dataItem)">
                                    <svg data-id="no"><use xlink:href="assets/img/icons.svg#ico-no"></use></svg>
                                </wc-grid-editor>
                        </ng-template>
                </kendo-grid-column>

                <div *kendoGridDetailTemplate="let dataItem">
                    <wa-license-details [licenseItem]="dataItem"></wa-license-details>
                </div>
    
            </kendo-grid>


<!--
"id": 820,
			"productName": "ViperaOSGI",
			"productVersion": "2.1",
			"issueDate": 1530474457803,
			"expiryDate": 1893527257803,
			"maxUserNumber": 100,
			"license": "1iPNsNJNE+YxqW7zkfUVn8/nYWJ3RTD8vj6YwZ+GFJb2Hthhw24l5evGaYV1Pj/50/cjcnNmwOYhEU/1/7O5X8HY9Ebs3n65HWtzf/ZonoY7yAe8bR8xv5u+rAhvdKApJlB4VDmVkt8tDcp2Lf8X4yHkTBlJXdBmsAWu3k2Vses=",
			"customerName": "Motif_2.1.dev_WEBCONSOLE",
			"customerEmail": "marco.tormento@vipera.com"
-->
</div>
