<wc-slide-panel #uploadSlideDownPanel (close)="onSlideEditorClose()">
    <div class="wc-slide-down-editor-pane" style="display:flex;height: 45px;">
        <div style="width:350px;height: 100%;">
                <wc-file-drop-panel #fileDrop [caption]="caption"></wc-file-drop-panel>
        </div>
    </div>

    <div class="cmd" style="align-items: center;">
        <label style="padding-bottom: 0px;padding-left: 10px;padding-right: 10px;">{{question}}</label>
        <a (click)="onBundleUploadConfirm()">
            <i data-id="ok" class="ok icon wa-ico-ok confirmation-icon"></i>
        </a>
        <a (click)="onBundleUploadCancel()" data-slideup="#user-add">
            <i data-id="ko" class="ko icon wa-ico-ko confirmation-icon"></i>
        </a>
    </div>
</wc-slide-panel>