<p-dialog
  #newItemDialog
  [(visible)]="display"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: '450px', minWidth: '400px' }"
  [minY]="70"
  [baseZIndex]="10000"
>
  <p-header> {{ dialogTitle }} </p-header>

  <div style="min-width: 350px;display:flex;flex-direction: column;">
    
    <kendo-textbox-container
      floatingLabel="{{floatingLabel}}"
      style="width: 100%;"
    >
      <input kendoTextBox [(ngModel)]="name" required />
    </kendo-textbox-container>
    <label class="warning-label" *ngIf="nameEditingWarningDisplay">Invalid name</label>

    <p-dropdown *ngIf="isServiceEditing"  class="wa-services-section-newitem-dialog-channel-selector" placeholder="Select a Channel" 
    [style]="{ 'width':'100%', 'height':'30px', 'background': 'rgb(83, 84, 84)', 'padding-top':'6px', 'padding-left':'6px', 'color': '#ddd' }" 
    [options]="channels" [(ngModel)]="selectedChannel" optionLabel="name" appendTo="body" baseZIndex="999999"></p-dropdown>
    <label class="warning-label" *ngIf="channelEditingWarningDisplay">You need to select a channel</label>


</div>

  <p-footer>
    <kendo-buttongroup look="flat">
      <button kendoButton [toggleable]="false" (click)="onCancel();">Cancel</button>
      <button kendoButton [toggleable]="false" [primary]="true" (click)="onConfirm();">Create</button>
    </kendo-buttongroup>
  </p-footer>

</p-dialog>
