<wc-dashboard-header [title]="'Counters and Thresholds'"></wc-dashboard-header>

<div class="row spread">
<button (click)="ontestClick()">Edit Counter</button>
<button (click)="ontest2Click()">Edit Threshold</button>
</div>

<div class="row fill">
    <wa-counter-infos-component (selectionChange)="onCounterInfoSelectionChange($event)"></wa-counter-infos-component>
</div>

<div class="row fill">
    <wa-threshols-component [counterInfo]="selectedCounterInfo"></wa-threshols-component>
</div>

<wa-counters-thresholds-counterinfo-edit-dialog #counterInfoDialog></wa-counters-thresholds-counterinfo-edit-dialog>
<wa-counters-thresholds-threshold-edit-dialog #thresoldInfoDialog></wa-counters-thresholds-threshold-edit-dialog>
<!--
    <div class="row fill">
        <wa-service-catalog-selector></wa-service-catalog-selector>
    </div>
-->

<!--
<wa-service-catalog-selector 
    (nodeSelection)="onNodeSelection($event)"
    (nodeDoubleClick)= "onNodeDboubleClick($event)"
    [dataFilter]="{ channel:'JSON' }"></wa-service-catalog-selector>

    -->