<div>
    <div class='wc-service-catalog-editor-title wc-truncate-text'>{{title}}</div>
    <div class='wc-service-catalog-editor-container'>

        <div class='wc-service-catalog-editor-loading-overlay'
             [class.wc-service-catalog-editor-loading-overlay-hidden]='!loading'>
             <fa-icon [icon]="faCircleNotch" [spin]="true" class="wc-service-catalog-editor-loading-overlay-icon"></fa-icon>
        </div>
        
        <div class='wc-service-catalog-editor-namespace wc-truncate-text'>{{namespace}}</div>

        <div class='wc-service-catalog-editor-commands'>
            <button kendoButton look="flat" icon="save" class='right-button' (click)="onSaveButtonClick($event)" >Save</button>
            <button kendoButton look="flat" icon="reload" (click)='onReloadButtonClick($event)' >Reload</button>
        </div>

        <wa-services-domain-editor  
        #domainEditor *ngIf="isDomainEditing()" 
            [editorContext]="editorContext" 
            (startLoading)='loading=true'
            (endLoading)='loading=false'
            ></wa-services-domain-editor>

        <wa-services-application-editor *ngIf="isApplicationEditing()" #applicationEditor></wa-services-application-editor>
        
        <wa-services-service-editor *ngIf="isServiceEditing()" #serviceEditor></wa-services-service-editor>

        <wa-services-operation-editor *ngIf="isOperationEditing()" #operationEditor></wa-services-operation-editor>
    </div>


</div>

