<div>
    <div class='wc-service-catalog-editor-title wc-truncate-text'>{{title}}</div>
    <div class='wc-service-catalog-editor-container'>
        <div class='wc-service-catalog-editor-namespace wc-truncate-text'>{{namespace}}</div>

        <div class='wc-service-catalog-editor-commands'>
            <button kendoButton look="flat" icon="save" class='right-button'>Save</button>
            <button kendoButton look="flat" icon="reload" >Reload</button>
        </div>

        <wa-services-domain-editor *ngIf="isDomainEditing()"></wa-services-domain-editor>

        <wa-services-application-editor *ngIf="isApplicationEditing()"></wa-services-application-editor>
        
        <wa-services-service-editor *ngIf="isServiceEditing()"></wa-services-service-editor>

        <wa-services-operation-editor *ngIf="isOperationEditing()"></wa-services-operation-editor>
    </div>


</div>

