.wc-service-catalog-editor-title {
    color: #8e8e8e;
    padding: 0.38rem;
    font-weight: bold;
    border-bottom: 1px dotted;
}

.wc-service-catalog-editor-container {
    padding: 0.38rem;
}

.wc-service-catalog-editor-namespace {
    font-size: 0.7rem;
    color: #315f79;
    
}

.wc-service-catalog-editor-commands {
    display: flex;
    flex-direction: row;
} 

.right-button {
    margin-left: auto;
}

.wc-service-catalog-editor-loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0000008f;
    z-index: 999;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.wc-service-catalog-editor-loading-overlay-hidden {
    display: none;
}

.wc-service-catalog-editor-loading-overlay-icon {
    font-size: 4rem;
    color: #8080807d;
}

.wc-service-catalog-editor-commands {
    button {
        color: #bbb;    
    } 
}

.wc-service-catalog-editor-container {
    overflow: hidden; 
    height: 100%;
}

.wc-service-catalog-editor-main-container {
    overflow: hidden; 
    height: 100%;
}

.wc-service-catalog-editor-scrollable-content {
    overflow-y: auto;
    height: 100%;
    padding: 8px;
}