<wc-dashboard-header [title]="'Configuration'"></wc-dashboard-header>

<wc-confirmation-dialog (cancel)="onConfirmationCancel($event)" (confirm)="onConfirmationOK($event)"></wc-confirmation-dialog>

<div class="row spread">
    <div class="flex-toolbar" style="display:flex;align-items: center;">

        <div style="margin-right:10px;width:60%;max-width: 400px;">
            <label>Service</label>
            <kendo-combobox [data]="servicesList" [allowCustom]="false" [valueField]="'name'" [textField]="'name'" [(ngModel)]="selectedService" style="width:100%;"></kendo-combobox>
        </div>
        
        <div>
            <label>&nbsp;</label>
            <kendo-buttongroup>
                <button kendoButton [toggleable]="false" [icon]="'save'" (click)="onSaveClicked()">Save</button>
                <button kendoButton [toggleable]="false" [icon]="'refresh'" (click)="onRefreshClicked()">Refresh</button>
                <button kendoButton [toggleable]="false" [icon]="'arrow-down'" (click)="onExportClicked()">Export</button>
                <button kendoButton [toggleable]="false" [icon]="'filter-add-expression'" (click)="onAddPropertyClicked()">Add Property</button>
            </kendo-buttongroup>
        </div>
    </div>

</div>

<div>
        <kendo-grid [data]="gridData" [height]="410" [loading]="loading"  (cellClick)="editClick($event)" (dblclick)="doubleClickFunction()"> 

                <kendo-grid-column
                    field="name" title="Name" width="360">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <label class="k-icon grid-cell-dirty grid-cell-dirty-{{dataItem.dirty}}"></label>
                            {{dataItem.name}}
                        </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="value" title="Value" >
                </kendo-grid-column>
                <kendo-grid-column field="type" title="Type" width="150">
                </kendo-grid-column>

                <kendo-grid-column
                    media="(min-width: 80px)"
                    title="Dynamic" width="80">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <label class="k-icon grid-cell-checkbox grid-cell-checkbox-{{dataItem.dynamic}}"></label>
                    </ng-template>
               </kendo-grid-column>

               <kendo-grid-column
                    media="(min-width: 80px)"
                    title="Crypted" width="80">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <label class="k-icon grid-cell-checkbox grid-cell-checkbox-{{dataItem.crypted}}"></label>
                    </ng-template>
                </kendo-grid-column>

            </kendo-grid>

            <configuration-section-edit-form [model]="editDataItem" (cancel)="onEditCancel()" (save)="onEditCommit($event)"></configuration-section-edit-form>


</div>
