<div>

    <div class="row spread">
        <div class="flex-toolbar" style="display:flex;align-items: center;">
            
            <div style="margin-right:10px;width:60%;max-width: 400px;min-width: 250px;">
                <label>Domain</label>
                <wc-domain-selector-combobox #domainSelector [(ngModel)]="domain"></wc-domain-selector-combobox>
            </div>

            <div style="margin-left: 40px;margin-right:10px;width:60%;max-width: 400px;min-width: 250px;">
                <label>Application</label>
                <wc-application-selector-combobox #applicationSelector [domain]="(domain ? domain.name : null)"
                [(ngModel)]="application"
                ></wc-application-selector-combobox>
            </div>
            
            <div style="margin-left: 40px;margin-right:10px;width:60%;max-width: 400px;min-width: 250px;">
                <label>User</label>
                <wc-user-selector-combobox #userSelector [domain]="(domain ? domain.name : null)"
                [(ngModel)]="user"
                ></wc-user-selector-combobox>
            </div>

            <kendo-buttongroup look="flat">
                <button kendoButton [toggleable]="false" (click)="onSendClicked()" style="margin-top: 20%;">
                        <fa-icon [icon]="faArrowAltCircleRight" class="left-icon-button"></fa-icon>Send
                </button>
            </kendo-buttongroup>
        </div>

        <div class="flex-cmd">
            <kendo-buttongroup look="flat">
                <button kendoButton [toggleable]="false" [icon]="'refresh'" (click)="onRefreshClicked()">Refresh</button>
            </kendo-buttongroup>
        </div>

    </div>

    <div class="row fill">
        <div>
            TODO!!
        </div>
    </div>


</div>