<div>

    <div class="row spread">
        <div class="flex-toolbar" style="display:flex;align-items: center;">
            
            <div style="margin-right:10px;width:60%;max-width: 400px;min-width: 250px;">
                <label>Domain</label>
                <wc-domain-selector-combobox #domainSelector [(ngModel)]="dataSource.domain"></wc-domain-selector-combobox>
            </div>

            <div style="margin-left: 40px;margin-right:10px;width:60%;max-width: 400px;min-width: 250px;">
                <label>Application</label>
                <wc-application-selector-combobox #applicationSelector [domain]="(dataSource.domain ? dataSource.domain.name : null)"
                [(ngModel)]="application"
                ></wc-application-selector-combobox>
            </div>
            
            <div style="margin-left: 40px;margin-right:10px;width:60%;max-width: 400px;min-width: 250px;">
                <label>User</label>
                <wc-user-selector-combobox #userSelector [domain]="(dataSource.domain ? dataSource.domain.name : null)"
                [(ngModel)]="dataSource.user"
                ></wc-user-selector-combobox>
            </div>

            <kendo-buttongroup look="flat">
                <button kendoButton [toggleable]="false" (click)="onSendClicked()" style="margin-top: 20%;">
                        <fa-icon [icon]="faArrowAltCircleRight" class="left-icon-button"></fa-icon>Send
                </button>
            </kendo-buttongroup>
        </div>

        <div class="flex-cmd">
            <kendo-buttongroup look="flat">
                <button kendoButton [toggleable]="false" [icon]="'refresh'" (click)="onRefreshClicked()">Refresh</button>
            </kendo-buttongroup>
        </div>

    </div>

    <div class="row fill">
        <div>
            
            <kendo-grid [data]="dataSource.data" [scrollable]="true" [resizable]="true"
                [reorderable]="true" 
            >

                <kendo-grid-column field="id" title="ID" width="160">
                </kendo-grid-column>

                <kendo-grid-column field="created" title="Created" width="160" format="{0:dd/MM/yyyy HH:mm:ss}">
                </kendo-grid-column>
        
                <kendo-grid-column field="consumed" title="Consumed" width="40">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <label class="k-icon grid-cell-checkbox grid-cell-checkbox-{{dataItem.consumed}}"></label>
                    </ng-template>
                </kendo-grid-column>
        
                <kendo-grid-column field="key" title="Key (HASHED)">
                </kendo-grid-column>
                
                <kendo-grid-column field="maxFail" title="Max Fail">
                </kendo-grid-column>
        
                <kendo-grid-column field="scope" title="Scope">
                </kendo-grid-column>
        
            </kendo-grid>            

        </div>
    </div>


</div>