<wc-dashboard-header [title]="'Services'"></wc-dashboard-header>

<div class="row spread">
  <div class="flex-toolbar" style="display:flex;align-items: center;">
    <kendo-textbox-container floatingLabel="Filter">
      <input
        #filterInput
        kendoTextBox
        (afterValueChanged)="onFilterChange($event)"
      />
    </kendo-textbox-container>
  </div>

  <div class="flex-cmd">
    <kendo-buttongroup look="flat">
      <button
        kendoButton
        [toggleable]="false"
        [icon]="'refresh'"
        (click)="onRefreshClicked()">
        Refresh
      </button>
    </kendo-buttongroup>
  </div>
</div>

<div class="row fill">
  <p-treeTable [value]="tableModel.model">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Channel</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode" style="height:30px">
        <td class="service-catalog-row">
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          <i class='pi pi-fw {{rowData.nodeIcon}} node-icon-{{rowData.nodeType}}'></i>
          <span><strong>{{rowData.name}}</strong></span>
        </td>
        <td class="service-catalog-row">{{ rowData.description }}</td>
        <td class="service-catalog-row">{{ rowData.nodeType }}</td>
        <td class="service-catalog-row">
            <span class="channel-label badge-channel-{{rowData.channel}}">{{rowData.channel}}</span>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
  <!--
  <aside>
    <wc-property-editor [model]="propertyModel"> </wc-property-editor>
    <div class="cmd">
      <a class="btn" (click)='onSavePropertiesPressed()'>
        <svg class='ok' data-id='ok'>
          <use xlink:href="assets/img/icons.svg#ico-ok"></use>
        </svg>
        Save
      </a>
    </div>
  </aside>
-->

</div>
