<wc-dashboard-header [title]="'Services'"></wc-dashboard-header>

<div class="row spread">

    <div class="flex-toolbar" style="display:flex;align-items: center;">
        <kendo-textbox-container floatingLabel="Filter">
            <input #filterInput kendoTextBox (afterValueChanged)="onFilterChange($event)" />
        </kendo-textbox-container>
    </div>

    <div class="flex-cmd">
        <kendo-buttongroup look="flat">
            <button kendoButton [toggleable]="false" [icon]="'refresh'" (click)="onRefreshClicked()">Refresh</button>
        </kendo-buttongroup>
    </div>

</div>

<div class="row fill">

    <div class="service-catalog-tree">
        <kendo-grid [group]="groups" [data]="gridView" [selectable]="false" [columnMenu]="false" [resizable]="true"
            [reorderable]="false" style="height: 100%" [scrollable]="true">

            <kendo-grid-column field="domain" sortable="false" [hidden]="true">
                <ng-template kendoGridGroupHeaderTemplate let-group let-field="field" let-value="value" let-dataItem
                    let-columnIndex="columnIndex" let-rowIndex="rowIndex" let-column="column">
                    <div (click)="onRowClicked(dataItem, $event)" class="wc-services-grid-rowselector">
                            <fa-icon [icon]="faGlobe"></fa-icon><span>{{value}}</span>
                    </div>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="application" sortable="false" [hidden]="true">
                <ng-template kendoGridGroupHeaderTemplate let-group let-field="field" let-value="value" let-dataItem
                    let-columnIndex="columnIndex" let-rowIndex="rowIndex" let-column="column">
                    <div (click)="onRowClicked(dataItem, $event)" class="wc-services-grid-rowselector">
                            <fa-icon [icon]="faDesktop"></fa-icon><span>{{value}}</span>
                    </div>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="service" sortable="false" [hidden]="true">
                <ng-template kendoGridGroupHeaderTemplate let-group let-field="field" let-value="value" let-dataItem
                    let-columnIndex="columnIndex" let-rowIndex="rowIndex" let-column="column">
                    <div (click)="onRowClicked(dataItem, $event)" class="wc-services-grid-rowselector">
                            <fa-icon [icon]="faBoxOpen"></fa-icon><span>{{value}}</span>
                    </div>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="name" title="Name" sortable="false">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" let-value="value">
                    <div (click)="onRowClicked(dataItem, $event)" class="wc-services-grid-rowselector wc-services-grid-column-name">
                            <fa-icon [icon]="faCompass"></fa-icon>{{dataItem.name}}
                    </div>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="description" title="Description" sortable="false">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" let-value="value">
                            <div (click)="onRowClicked(dataItem, $event)" style="width:100%;height:100%;" class="wc-services-grid-column-description">
                               {{dataItem.description}}
                            </div>
                        </ng-template>
                    </kendo-grid-column>

            <kendo-grid-column field="type" title="Type" sortable="false">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" let-value="value">
                            <div (click)="onRowClicked(dataItem, $event)" style="width:100%;height:100%;">
                               {{dataItem.type}}
                            </div>
                        </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="channel" title="Channel" sortable="false">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" let-value="value">
                            <div (click)="onRowClicked(dataItem, $event)" style="width:100%;height:100%;">
                               <span class="channel-label badge-channel-{{dataItem.channel}}">{{dataItem.channel}}</span>
                            </div>
                        </ng-template>
            </kendo-grid-column>


        </kendo-grid>



    </div>