<p-contextMenu #tableContextMenu [target]="servicetableContainer" [model]="menuItems" [styleClass]='wc-context-menu'></p-contextMenu>

<wa-services-section-newitem-dialog #newItemDialog (confirm)='onNewItemConfirm($event)'></wa-services-section-newitem-dialog>


<wc-dashboard-header [title]="'Services'"></wc-dashboard-header>

<div class="row spread" #target>
  <div class="flex-toolbar" style="display:flex;align-items: center;">
      <p-menubar [model]="menuItems"  [autoDisplay]="false"></p-menubar>
      <kendo-buttongroup look="flat">
          <!--
          <button kendoButton [toggleable]="false" [icon]="'save'" >Add Domain</button>
          <button kendoButton [toggleable]="false" [icon]="'track-changes-reject'" >Remove Domain</button>
          <button kendoButton [toggleable]="false" [icon]="'filter-add-expression'" >Add Service</button>
          -->
      </kendo-buttongroup>
  </div>

  <div class="flex-cmd">
    <kendo-buttongroup look="flat">
      <button
        kendoButton
        [toggleable]="false"
        [icon]="'refresh'"
        (click)="onRefreshClicked()"
      >
        Refresh
      </button>
    </kendo-buttongroup>
  </div>
</div>

<div class="row fill">
  <kendo-splitter>
    <kendo-splitter-pane>
      <div #servicetableContainer>
        <p-treeTable #serviceTable
          [value]="tableModel.model"
          [scrollable]="true"
          selectionMode="single"
          [(selection)]="selectedNode"
          dataKey="id"
          (onNodeUnselect)="nodeUnselect($event)"
          [(contextMenuSelection)]="selectedNode" [contextMenu]="tableContextMenu"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Type</th>
              <th>Channel</th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-rowNode
            let-rowData="rowData"
            let-columns="columns"
          >
            <tr [ttRow]="rowNode" [ttContextMenuRow]="rowNode" [ttSelectableRow]="rowNode" style="height:30px">
              <td class="service-catalog-row">
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                <i
                  class="pi pi-fw {{rowData.nodeIcon}} node-icon-{{rowData.nodeType}}"
                ></i>
                <span
                  ><strong>{{ rowData.name }}</strong></span
                >
              </td>
              <td class="service-catalog-row">{{ rowData.description }}</td>
              <td class="service-catalog-row">{{ rowData.nodeType }}</td>
              <td class="service-catalog-row">
                <span class="channel-label badge-channel-{{rowData.channel}}">{{
                  rowData.channel
                }}</span>
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>
    </kendo-splitter-pane>

    <kendo-splitter-pane [collapsible]="true" size="30%">
        <wa-services-editor #servicesEditor (changesSaved)="onChangesSaved($event)"></wa-services-editor>
    </kendo-splitter-pane>

  </kendo-splitter>

</div>
