<div class="grid-edit-commands-group">
    <wc-grid-editor-command [title]="'Edit'" 
        [commandIcon]="'assets/img/icons.svg#ico-edit'"
        (commandClick)="onCommandClick($event)"
        (commandCancel)="onCommandCancel($event)"
        ></wc-grid-editor-command>
    <wc-grid-editor-command [hasConfirmation]="true" 
        [title]="'Delete'"
         [confirmationTitle]="'Delete ?'" 
         [commandIcon]="'assets/img/icons.svg#ico-no'"
         (commandClick)="onCommandClick($event)"
         (commandConfirm)="onCommandConfirm($event)"
         (commandCancel)="onCommandCancel($event)"
         ></wc-grid-editor-command>
    <wc-grid-editor-command 
        [hasConfirmation]="true" 
        [title]="'Publish'" 
        [confirmationTitle]="'Publish ?'" 
        [commandIcon]="'assets/img/icons.svg#ico-publish'"
        (commandClick)="onCommandClick($event)"
        (commandConfirm)="onCommandConfirm($event)"
        (commandCancel)="onCommandCancel($event)"
        ></wc-grid-editor-command>
</div>

<!--
<div class="grid-edit-commands-group">

    <input type="checkbox" id="edit-1-e">

    <label for="edit-1-e" class="grid-edit-commands-group-button" title="Delete">
        <svg data-id="no1"><use xlink:href="assets/img/icons.svg#ico-no"></use></svg>
    </label>
    <div class="actions">
        <span>Delete?</span>
        <a>
            <svg class="ok" data-id="ok"><use xlink:href="img/icons.svg#ico-ok"></use></svg> 
        </a>
        <label for="edit-1-e">
            <svg class="ko" data-id="ko"><use xlink:href="img/icons.svg#ico-ko"></use></svg>
        </label>
    </div>

    <label for="edit-2-e" class="grid-edit-commands-group-button" title="Edit">
        <svg data-id="no2"><use xlink:href="assets/img/icons.svg#ico-edit"></use></svg>
    </label>
    
    <label for="edit-3-e" class="grid-edit-commands-group-button" title="Publish">
        <svg data-id="no2"><use xlink:href="assets/img/icons.svg#ico-publish"></use></svg>
    </label>
    
    
</div>
-->

<!--

<div class="edit">
										<input type="checkbox" id="edit-0-e">
										<label for="edit-0-e">
											<svg data-id="no"><use xlink:href="img/icons.svg#ico-no"></use></svg>
										</label>
										<div class="actions">
											<span>Delete?</span>
											<a>
												<svg class="ok" data-id="ok"><use xlink:href="img/icons.svg#ico-ok"></use></svg> 
											</a>
											<label for="edit-0-e">
												<svg class="ko" data-id="ko"><use xlink:href="img/icons.svg#ico-ko"></use></svg>
											</label>
										</div>
									</div>


-->