<div class="grid-edit-commands-group grid-edit-commands-group-{{alignMode}}-align {{contentStyle}}">

        <wc-grid-editor-command *ngFor="let command of commands"
            #cmd1
            [commandId]="command.commandId"
            [title]="command.title" 
            [hasConfirmation]="command.hasConfirmation" 
            [confirmationTitle]="command.confirmationTitle" 
            [commandIcon]="command.commandIcon"
            (commandClick)="onCommandClick($event)"
            (commandCancel)="onCommandCancel($event)"
            (actionStatusChange)="onActionStatusChange($event)">
        </wc-grid-editor-command>
    
</div>
